body{
    color: darkblue;
}
body h1{
    font-family: monospace;
    font-size: 50px;
}
.bg-dark {
    background-color: goldenrod!important;
}
.navbar-toggler{
    background-color: darkblue;
}

p{
    padding: 25px;
}

.lead{
    padding: 0px;
}

img{
    max-width: 50%;
    height: auto;
}